.exchange {
    text-align: left;
    box-sizing: border-box;
    margin-bottom: 35px;
    position: relative;

    &--disabled {
        opacity: .5;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: -14px;
            width: 100%;
            bottom: 0;
            background: rgba(#000, 0);
            z-index: 20;
        }
    }

    &__label {
        width: 100%;
        height: 74px;
        background: #012640;
        cursor: pointer;
        border-radius: 4px;
        box-sizing: border-box;
        position: relative;
        display: table;

        &:before {
            content: '';
            position: absolute;
            top: 0px;
            left: 1%;
            width: 98%;
            // height: 100%;
            // border-top: 2px solid transparent;
            border-radius: 4px;
            transition: border-color .2s ease-in-out;
            box-shadow: 0px -1px 0px 0px rgba(8,35,65,1);
        }

        .icon-radio-checked,
        .icon-radio-unchecked {
            position: absolute;
            top: 50%;
            left: 10px;
            color: rgba(#000, .2);
            font-size: 20px;
            margin-top: -10px;
            transition: opacity .2s ease-in-out;
        }

        .icon-radio-checked {
            opacity: 0;
        }

        .icon-radio-unchecked {
            opacity: 1;
        }

        &:hover {
            background: #003459;
            &:before {
                // border-color: rgba(#000, .1);
                background: linear-gradient(to right, 
                    rgba(0,52,89,1) 0%,
                    rgba(1,166,224,1) 35%,
                    rgba(1,166,224,1) 63%,
                    rgba(0,52,89,1) 100%);
                height: 1px;
            }

            .icon-radio-checked {
                opacity: 1;
            }

            .icon-radio-unchecked {
                opacity: 0;
            }
        }

        // &.exchange__label--selected {
        //     &:before {
        //         border-color: #249e49;
        //     }

        //     .icon-radio-checked {
        //         opacity: 1;
        //         color: #205A89;
        //     }

        //     .icon-radio-unchecked {
        //         opacity: 0;
        //     }
        // }
    }

    &__input-radio[type="radio"] {
        display: none;

        &:checked + .exchange__label {
            background: #003459;
            box-shadow: 0px -27px 19px -26px #73deff;
            &:before {
                // border-color: #249e49;
                border-color: transparent;
            }

            .icon-radio-checked {
                opacity: 1;
                color: #1977b7;
            }

            .icon-radio-unchecked {
                opacity: 0;
            }
        }
    }

    &__left,
    &__right {
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        z-index: 10;
        padding: 0 50px;
    }

    &__left {
        border-radius: 4px 0 0 4px;
        padding-left: 40px;

        &--noradio {
            padding-left: 16px;
        }
    }

    &__right {
        border-radius: 0 4px 4px 0;
        position: relative;

        &:after,
        &:before {
            content: '';
            background-color: #051223;
            background-image: repeating-radial-gradient(circle at 50% 50%, #061326 50%, rgba(0, 0, 0, 0.18) 55%);
            background-size: 21px 12px;
            margin-right: -1px;
            position: absolute;
            right: 100%;
            width: 8px;
            height: 80%;
            border-radius: 4px;
        }
        &:before {
            top: -19%;
            transform: rotate(145deg);
        }
        &:after {
            bottom: -19%;
            transform: rotate(-145deg);
        }
    }

    &__row-ellipsis {
        @include ellipsis;
    }

    &__number {
        font-size: 18px;
        font-weight: 600;
        color: #fff;
    }

    &__currency {
        color: #0174aa;
    }

    &__subnumber {
        font-weight: 400;
        color: rgba(#0075a7, .9);

        &--line-through {
            text-decoration: line-through;
        }
    }

    &__subcurrency {
        color: rgba(#0075a7, .9);
        font-family: 'PT Serif';
        font-style: italic;

        &--line-through {
            text-decoration: line-through;
        }
    }

    &__input-text[type="number"] {
        @extend .exchange__number;
        max-width: 160px;
        box-shadow: inset 1px 1px 0 rgba(#000, .1);
        line-height: 32px;
        padding: 0 36px 0 8px;
        background: #081D38;
        border-radius: 4px;
        border-left: 1px solid #072643;
        border-right: 1px solid #072643;
        border-top: 1px solid #000;
        border-bottom: 1px solid #034671;

        & + .exchange__currency {
            position: absolute;
            right: 60px;
            bottom: 29px;
        }
    }
}
