.trans-history {

    &__header {
        padding:10px 0 20px;
    }

    &__body {
        background: #012a48;
        border: 1px solid #004f76;
        // display: none;
        margin: 0 -45px;
        padding: 30px 0;
    }

    &__table {
        width: 100%;
        color: #fff;

        tr {
            height: 60px;
        }

        td {
            padding: 0 20px;

            &:first-child {
                padding-left: 40px;
            }
        }
    }

    &__time {
        display: block;
        text-align: left;
        color: #9b9b9b;
    }

    &__date {
        display: block;
        text-align: left;
    }

    &__bill {

    }

    &__amount {
        font-size: 16px;
        font-weight: 600;
    }

    &__currency {
        font-size: 12px;
    }

    &__status {

        &--success {
            color: #02fd9c;
        }

        &--waiting {
            color: #bebdbb;
        }

        &--canceled {
            color: #ec5053;
        }

        [class^="icon-"] {
            font-size: 22px;
            position: relative;
            top: 4px;
        }
    }

    &__footer {
        padding: 10px 0;
    }

    &__open {

        [class^="icon-"] {
            transform: rotate(-180deg);
        }
    }
}
