<div class="features">

    <div class="features__item">
        <div class="features__header">
            <span class="icon icon-money-pack"></span>
        </div>
        <div class="features__content">
            <div class="features__title">PAYOUTS 96%</div>
            <div class="features__descr">Наверное лучшая смесь веселья и азарта</div>
        </div>
    </div>

    <div class="features__item">
        <div class="features__header">
            <span class="icon icon-accent"></span>
        </div>
        <div class="features__content">
            <div class="features__title">ЧЕСТНАЯ ИГРА</div>
            <div class="features__descr">Наверное лучшая смесь веселья и азарта</div>
        </div>
    </div>

    <div class="features__item">
        <div class="features__header">
            <span class="icon icon-medal"></span>
        </div>
        <div class="features__content">
            <div class="features__title">СИСТЕМА РОСТА</div>
            <div class="features__descr">Наверное лучшая смесь веселья и азарта</div>
        </div>
    </div>

    <div class="features__item">
        <div class="features__header">
            <span class="icon icon-headset"></span>
        </div>
        <div class="features__content">
            <div class="features__title">ПОДДЕРЖКА 24/7</div>
            <div class="features__descr">Наверное лучшая смесь веселья и азарта</div>
        </div>
    </div>

</div>
