<div class="footer">
    <nav class="footer__menu">
        <a class="footer__link" href="javasript:void(0)">О казино</a>
        <a class="footer__link" href="javasript:void(0)">Поддержка</a>
        <a class="footer__link" href="javasript:void(0)">Правила</a>
        <a class="footer__link" href="javasript:void(0)">Оплата</a>
        <a class="footer__link" href="javasript:void(0)">Выплаты</a>
        <a class="footer__link" href="javasript:void(0)">Честная игра</a>
        <a class="footer__link" href="javasript:void(0)">Турниры</a>
        <a class="footer__link" href="javasript:void(0)">Рейтинг игроков</a>
        <a class="footer__link" href="javasript:void(0)">Правовая информация</a>
    </nav>

    {% include nav-lang.html class='nav-lang--footer' %}

    <div class="footer__copyright">
        <span class="icon-18-plus"></span>
        © 2015 Pepper Online Casino
    </div>
</div>

