<div class="game-promo">

    <div class="game-promo__title"><span class="icon-flag"></span> Игры на любой вкус</div>

    <div class="game-promo__wrap">
        {% assign game-promo = site.data.game-promos %}
        {% for i in game-promo %}
            <div class="game-promo__item">
                <span class="icon-{{ i.icon }}"></span>
                <div class="game-promo__item-title">{{ i.title }}</div>
                <div class="game-promo__item-description">{{ i.description }}</div>
            </div>
        {% endfor %}
    </div>

    <a href="#" class="game-promo__btn">Play</a>

</div>
