<div class="game-categories">

    <div class="js-game-categories-easytabs">

        <ul class="game-categories__list">
            <li class="game-categories__item">
                <a href="#top-lists" class="game-categories__link">
                    <span class="icon-flag"></span>
                    <div class="game-categories__item-title">Top Lists</div>
                </a>
            </li>
            <li class="game-categories__item">
                <a href="#cards" class="game-categories__link">
                    <span class="icon-cards"></span>
                    <div class="game-categories__item-title">Cards</div>
                </a>
            </li>
            <li class="game-categories__item">
                <a href="#slots" class="game-categories__link">
                    <span class="icon-slots"></span>
                    <div class="game-categories__item-title">Slots</div>
                </a>
            </li>
            <li class="game-categories__item">
                <a href="#pokers" class="game-categories__link">
                    <span class="icon-pokers"></span>
                    <div class="game-categories__item-title">Pokers</div>
                </a>
            </li>
            <li class="game-categories__item">
                <a href="#roulette" class="game-categories__link">
                    <span class="icon-roulette"></span>
                    <div class="game-categories__item-title">Roulette</div>
                </a>
            </li>
        </ul>

        <form class="game-categories__form">
            <span class="icon-search"></span>
            <input class="game-categories__input" type="text" placeholder="Live search for games">
        </form>

        <div id="top-lists" class="game-list">
            <div class="game-list__wrap">
                {% assign games = site.categories.games %}
                {% for i in games limit: 18 %}
                    {% include game-list__item.html %}
                {% endfor %}
            </div>
            <a href="#" class="game-list__btn">All Games</a>
        </div>

        <div id="cards" class="game-list">
            <div class="game-list__wrap">
                {% assign games = site.categories.games | where: "game-type", "cards" %}
                {% for i in games limit: 18 %}
                    {% include game-list__item.html %}
                {% endfor %}
            </div>
            <a href="#" class="game-list__btn">All Games</a>
        </div>

        <div id="slots" class="game-list">
            <div class="game-list__wrap">
                {% assign games = site.categories.games | where: "game-type", "slots" %}
                {% for i in games limit: 18 %}
                    {% include game-list__item.html %}
                {% endfor %}
            </div>
            <a href="#" class="game-list__btn">All Games</a>
        </div>

        <div id="pokers" class="game-list">
            <div class="game-list__wrap">
                {% assign games = site.categories.games | where: "game-type", "pokers" %}
                {% for i in games limit: 18 %}
                    {% include game-list__item.html %}
                {% endfor %}
            </div>
            <a href="#" class="game-list__btn">All Games</a>
        </div>

        <div id="roulette" class="game-list">
            <div class="game-list__wrap">
                {% assign games = site.categories.games | where: "game-type", "roulette" %}
                {% for i in games limit: 18 %}
                    {% include game-list__item.html %}
                {% endfor %}
            </div>
            <a href="#" class="game-list__btn">All Games</a>
        </div>

    </div>

</div>
