<div class="game-filter">
    <ul class="game-filter__list">
        <li class="game-filter__item">
            <a href="javascript:void(0)" class="game-filter__link">
                <span class="icon-flag"></span>
                <div class="game-filter__item-title">Top Lists</div>
            </a>
        </li>
        <li class="game-filter__item">
            <a href="javascript:void(0)" class="game-filter__link">
                <span class="icon-cards"></span>
                <div class="game-filter__item-title">Cards</div>
            </a>
        </li>
        <li class="game-filter__item">
            <a href="javascript:void(0)" class="game-filter__link">
                <span class="icon-slots"></span>
                <div class="game-filter__item-title">Slots</div>
            </a>
        </li>
        <li class="game-filter__item">
            <a href="javascript:void(0)" class="game-filter__link">
                <span class="icon-pokers"></span>
                <div class="game-filter__item-title">Pokers</div>
            </a>
        </li>
        <li class="game-filter__item">
            <a href="javascript:void(0)" class="game-filter__link">
                <span class="icon-roulette"></span>
                <div class="game-filter__item-title">Roulette</div>
            </a>
        </li>
    </ul>
    <form class="game-filter__search" action="">
        <div class="game-filter__input-wrapper">
            <input class="game-filter__input" type="text" placeholder="Live">
        </div>
    </form>
</div>
