<div class="game-hall {{ include.class }}">
    <div class="game-hall__wrap">
        {% assign games = site.categories.games %}
        {% for i in games limit: 9 %}
            <div class="game-hall__item">
                <div class="game-hall__item-wrap">
                    {% for cover in site.static_files %}
                        {% if cover.path contains i.id and cover.path contains 'games' %}
                            <img class="game-hall__item-img" src="{{ site.baseurl }}{{ cover.path }}" alt="{{ i.title }} Cover">
                        {% endif %}
                    {% endfor %}
                    <div class="game-hall__item-text">
                        <div class="game-hall__item-title">{{ i.title }}</div>
                        <a href="{{ site.baseurl }}{{ i.url }}" class="game-hall__item-btn">Play</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="#" class="game-hall__btn">All Games</a>
</div>
