<header class="mainmenu">

    <nav class="mainmenu__nav-main">
        <a class="mainmenu__nav-main-link js-nav-primary" href="javasript:void(0)"><span class="icon-gamburger"></span> Menu</a>
        <a class="mainmenu__nav-main-link" href="javasript:void(0)"><span class="icon-dashboard"></span> Dashboard</a>
        <a class="mainmenu__nav-main-link" href="javasript:void(0)"><span class="icon-all-games"></span> All Games</a>
    </nav>

    <nav class="mainmenu__logo">
        <a href="{{ site.baseurl }}/">
            <img class="mainmenu__logo-img" src="{{ site.baseurl }}/assets/img/logo.png" alt="Logo">
        </a>
    </nav>

    <div class="mainmenu__nav">
        {% if site.authorized == true %}
            <nav class="mainmenu__nav-auth">
                <span>user-pic</span>
                <span>user-name</span>
                <span>user-ballance</span>
                <a href="javasript:void(0)">user-message 2</a>
                <a href="javasript:void(0)">Support</a>
                <a href="javasript:void(0)">Deposit</a>
            </nav>
        {% else %}
            <nav class="mainmenu__nav-unauth">
                <a href="javasript:void(0)" class="mainmenu__nav-unauth-signin">Login</a>
                <a href="javasript:void(0)" class="mainmenu__nav-unauth-signup">Sign Up</a>
                <div class="nav-social">
                    <a href="#" class="nav-social__dropdown">Social <span class="icon icon-arrow-down"></span></a>
                    <div class="nav-social__list">
                        <a href="#" class="nav-social__item icon-slots"></a>
                        <a href="#" class="nav-social__item icon-slots"></a>
                        <a href="#" class="nav-social__item icon-slots"></a>
                        <a href="#" class="nav-social__item icon-slots"></a>
                        <a href="#" class="nav-social__item icon-slots"></a>
                        <a href="#" class="nav-social__item icon-slots"></a>
                    </div>
                </div>
            </nav>
        {% endif %}

        {% include nav-lang.html class='nav-lang--mainmenu' %}

    </div>

</header>
