<header class="header js-header">

    <nav class="header__nav">
        <a class="header__nav-link js-nav-primary" href="#"><span class="icon-gamburger"></span> Menu</a>
        <a class="header__nav-link" href="#"><span class="icon-dashboard"></span> Dashboard</a>
        <a class="header__nav-link" href="{{ site.baseurl }}/gamehall/"><span class="icon-all-games"></span> All Games</a>
    </nav>

    <a class="header__logo" href="{{ site.baseurl }}/">
        <img class="header__logo-img" src="{{ site.baseurl }}/assets/img/logo.png" alt="Logo">
    </a>

    <div class="header__panel">
        {% if site.authorized == true %}
            <div class="header__profile">
                <div class="header__user">
                    <img class="header__user-img" src="{{ site.baseurl }}/assets/img/users/user2.jpg">
                    <span class="header__user-name">John Doe</span>
                    <span class="header__user-balance">$3 994 432</span>
                </div>
                <div class="header__contlols">
                    <a href="#" class="header__contlols-btn"><i class="icon icon-star-bordered"></i></a>
                    <a href="#" class="header__contlols-btn"><i class="icon icon-notifications"></i></a>
                    <a href="#" class="header__contlols-help"><i class="icon icon-headset"></i> Support</a>
                    <a href="#" class="header__contlols-deposit">Deposit</a>
                </div>
            </div>
        {% else %}
            <nav class="header__control">
                {% include nav-lang.html class='nav-lang--mainmenu' %}
                <a href="#" class="header__control-login">Login</a>
                <a href="#" class="header__control-signup">Sign Up</a>
                {% include nav-social.html class='nav-social--header' %}
            </nav>
        {% endif %}

    </div>

</header>
