<header class="header">

    <div class="main-nav">

        <div class="main-nav__item">
            <a href="#" class="main-nav__link">
                <span class="icon icon-gamburger"></span>
                <span class="main-nav__text">menu</span>
            </a>
        </div>

        <div class="main-nav__item visible-ib-desktop">
            <a href="#" class="main-nav__link">
                <span class="icon icon-dashboard"></span>
                <span class="main-nav__text">dashboard</span>
            </a>
        </div>

        <div class="main-nav__item visible-ib-desktop">
            <a href="#" class="main-nav__link">
                <span class="icon icon-all-games"></span>
                <span class="main-nav__text">all games</span>
            </a>
        </div>

    </div>

    <a href="#" class="logo" style="max-width:150px;display:inline-block;">
        <img style="width:100%;" src="{{ site.baseurl }}/assets/img/logo.png" alt="">
    </a>

    <div class="auth">

        <div class="dropdown-select dropdown-select__lang">

            <a href="#" class="dropdown-select__toggle">
                <span class="flag-holder flag-holder__selected">
                    <img class="flag-holder-img flag-holder-img__selected" src="{{ site.baseurl }}/assets/img/header-nav/flag-sample.png">

                    <span class="dropdown-select__selected-text">en</span>
                </span>

                <span class="icon-arrow-down dropdown-select__state"></span>

            </a>

            <div class="dropdown-select__list">

                <div class="dropdown-select__triangle"></div>

                <div class="dropdown-select__item">
                    <a href="#" class="dropdown-select__link">
                        <span class="flag-holder"></span>
                        <span class="dropdown-select__list-text">item</span>
                    </a>
                </div>

                <div class="dropdown-select__item">
                    <a href="#" class="dropdown-select__link">
                        <span class="flag-holder">
                            <img src="{{ site.baseurl }}/assets/img/header-nav/flag-sample.png">
                        </span>
                        <span class="dropdown-select__list-text">item</span>
                    </a>
                </div>

                <div class="dropdown-select__item">
                    <a href="#" class="dropdown-select__link">
                        <span class="flag-holder">
                            <img src="{{ site.baseurl }}/assets/img/header-nav/flag-sample.png">
                        </span>
                        <span class="dropdown-select__list-text">item</span>
                    </a>
                </div>

                <div class="dropdown-select__item">
                    <a href="#" class="dropdown-select__link dropdown-select__link--active">
                        <span class="flag-holder"></span>
                        <span class="dropdown-select__list-text">item</span>
                    </a>
                </div>

            </div>

        </div>

        <a class="btn btn--base">login</a>

        <a class="btn btn--accent">sign up</a>

        <div class="header__social">

            <span class="header__social-title">or</span>

            <div class="header__social-item"></div>

            <div class="header__social-item"></div>

            <div class="dropdown-select">

                <a href="#" class="dropdown-select__toggle dropdown-select__toggle-social">
                    <span class="dropdown-select__state">
                        <span class="icon-arrow-down"></span>
                    </span>
                </a>

                <div class="dropdown-select__list">

                    <div class="dropdown-select__triangle"></div>

                    <div class="dropdown-select__item">
                        <a href="#" class="dropdown-select__link">
                            <span class="flag-holder"></span>
                            <span class="dropdown-select__list-text">item</span>
                        </a>
                    </div>

                    <div class="dropdown-select__item">
                        <a href="#" class="dropdown-select__link">
                            <span class="flag-holder"></span>
                            <span class="dropdown-select__list-text">item</span>
                        </a>
                    </div>

                    <div class="dropdown-select__item">
                        <a href="#" class="dropdown-select__link">
                            <span class="flag-holder"></span>
                            <span class="dropdown-select__list-text">item</span>
                        </a>
                    </div>

                    <div class="dropdown-select__item">
                        <a href="#" class="dropdown-select__link dropdown-select__link--active">
                            <span class="flag-holder"></span>
                            <span class="dropdown-select__list-text">item</span>
                        </a>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="header-separate-line"></div>

</header>
