<div class="hero">

    <div class="hero__title">Welcome to the best online casino</div>

    <div class="hero__wrapper">

        <div class="hero__jackpot-container">
            <div class="hero__jackpot">
                <div class="hero__jackpot-title">Jackpot</div>
                <div class="hero__jackpot-amount">$24 852 150</div>
            </div>
            <div class="hero__btn-container">
                <a href="javasript:void(0)" class="hero__btn">Play</a>
            </div>
        </div>

        <div class="hero__info-container">
            {% assign hero = site.data.hero %}
            {% for i in hero %}
                <div class="hero__info">
                    <div class="hero__info-name">{{ i.name }}</div>
                    <div class="hero__info-amount"><span class="hero__info-icon icon-{{ i.icon }}"></span> {{ i.amount }}</div>
                </div>
            {% endfor %}
        </div>

    </div>

    {% include features.html %}
</div>
