<div class="trans-history">
    <div class="trans-history__header">
        <a href="javascript:void(0)" class="btn btn--link js-trans-history-comppoints-toggle">История компоинтов <span class="icon-expand-more"></span></a>
    </div>
    <div class="trans-history__body js-trans-history-comppoints-content" style="display: none;">
        <table class="trans-history__table">
            {% for item in site.data.historyComppoints %}
            {% include modalCashbox_history_table.html %}
            {% endfor %}
        </table>
        <div class="trans-history__footer">
            <a href="javascript:void(0)" class="btn btn--ghost btn--sm">Показать ещё 10 <span class="icon-expand-more"></span></a>
        </div>
    </div>
</div>
