<div class="nav-social">
    <a href="#" class="nav-social__dropdown js-social-dropdown">Social <span class="icon icon-arrow-down"></span></a>
    <div class="nav-social__list js-social-list">
        <a href="#" class="nav-social__item icon-slots"></a>
        <a href="#" class="nav-social__item icon-slots"></a>
        <a href="#" class="nav-social__item icon-slots"></a>
        <a href="#" class="nav-social__item icon-slots"></a>
        <a href="#" class="nav-social__item icon-slots"></a>
        <a href="#" class="nav-social__item icon-slots"></a>
    </div>
</div>
