<div class="payment">
    <div class="payment__item payment__item--visa"></div>
    <div class="payment__item payment__item--mastercard"></div>
    <div class="payment__item payment__item--qiwi"></div>
    <div class="payment__item payment__item--alfaclick"></div>
    <div class="payment__item payment__item--yandexmoney"></div>
    <div class="payment__item payment__item--webmoney"></div>
    <div class="payment__item payment__item--moneta"></div>
    <div class="payment__item payment__item--privat24"></div>
    <div class="payment__item payment__item--dengimailru"></div>
    <div class="payment__item payment__item--interkassa"></div>
    <div class="payment__item payment__item--neteller"></div>
    <div class="payment__item payment__item--liqpay"></div>
    <div class="payment__item payment__item--walletone"></div>
    <div class="payment__item payment__item--skrill"></div>
</div>
