<div class="promo-mili">

    <h1>Hello Promo Mili</h1>

    {% for i in site.data.promo-mili %}
    <div>
        <div class="promo-mili__city">{{ i.city }}</div>

        {% for cover in site.static_files %}
            {% if cover.path contains i.id and cover.path contains 'promo-mili' %}
                <img class="promo-mili__img" src="{{ site.baseurl }}{{ cover.path }}" alt="r">
                <img class="promo-mili__img-shadow" src="/assets/img/promo-mili/shadow.png" alt="">
            {% endif %}
        {% endfor %}

        {% if i.win %}
            <div class="promo-mili-win">{{ i.win }} миль</div>
        {% else %}
            <div class="promo-mili__5-star">{{ i.5-star }} миль</div>
            <div class="promo-mili__4-star">{{ i.4-star }} миль</div>
            {% if i.3-star %}
                <div class="promo-mili__3-star">{{ i.3-star }} миль</div>
            {% endif %}
        {% endif %}

        </div>
    {% endfor %}

    <div>
        <div class="ribbon">
            <div class="ribbon-stitches-top"></div>
            <strong class="ribbon-content">
                <h1>A Pure CSS Ribbon</h1>
            </strong>
            <div class="ribbon-stitches-bottom"></div>
        </div>
    </div>

    <div class="promo-mili__list">
        {% for i in site.data.promo-mili %}
            <div class="promo-mili__item">
                <div class="promo-mili__ribbon">
                    <div class="promo-mili__ribbon-shadow">
                        <div class="promo-mili__city">
                            {{ i.city }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
