<div class="promo-mili">

    <h1>Hello Promo Mili</h1>

    {% for i in site.data.promo-mili %}
    <div>
        <div class="promo-mili__city">{{ i.city }}</div>
        
        {% for cover in site.static_files %}
        	{% if cover.path contains i.id and cover.path contains 'promo-mili' %}
                <img class="promo-mili__img" src="{{ site.baseurl }}{{ cover.path }}" alt="{{ i.title }} Cover">
            {% endif %}
    	{% endfor %}
    	</div>
    {% endfor %}

    <div>
        <div class="ribbon">
            <div class="ribbon-stitches-top"></div>
            <strong class="ribbon-content">
                <h1>A Pure CSS Ribbon</h1>
            </strong>
            <div class="ribbon-stitches-bottom"></div>
        </div>
    </div>

    {% for i in site.data.promo-mili %}
        <div>
            <div class="promo-mili__ribbon">
                <div class="promo-mili__ribbon-shadow">
                    <div class="promo-mili__city">
                        {{ i.city }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
