<aside class="sidebar">

    <section class="sidebar__jackpot">
        <h3 class="sidebar__title"><span class="icon icon-slots"></span> Casino Jackpots</h3>
        <div class="sidebar__jackpot-amount">$ 14 650 242</div>
        <div class="sidebar__jackpot-list">
            <div class="sidebar__jackpot-item">
                <img class="sidebar__jackpot-item-thumb" src="{{ site.baseurl }}/assets/img/games/safari-heat.png" alt="">
                <div class="sidebar__jackpot-item-title">Elements slots</div>
                <div class="sidebar__jackpot-item-amount">$14 650 242</div>
            </div>
            <div class="sidebar__jackpot-item">
                <img class="sidebar__jackpot-item-thumb" src="{{ site.baseurl }}/assets/img/games/safari-heat.png" alt="">
                <div class="sidebar__jackpot-item-title">Elements slots</div>
                <div class="sidebar__jackpot-item-amount">$14 650 242</div>
            </div>
        </div>
    </section>

    <section class="sidebar__tournaments">
        <h3 class="sidebar__title"><span class="icon icon-slots"></span> tournaments</h3>
        <div class="sidebar__tournaments-list">
            
            <div class="sidebar__tournaments-item">
                <div class="sidebar__tournaments-thumb">
                    <img class="sidebar__tournaments-img" src="{{ site.baseurl }}/assets/img/games/safari-heat.png" alt="">
                    <span class="sidebar__tournaments-gonfalon">now</span>
                </div>
                <div class="sidebar__tournaments-title">Deposit lottery</div>
                <div class="sidebar__tournaments-meta">
                    <p>End: <span>5 d  11:42:26</span></p>
                    <p>Prize: <span>$500 000</span></p>
                </div>
                <a class="sidebar__tournaments-link" href="#">More</a>
                <a class="sidebar__tournaments-link" href="#">Leaderboard</a>
            </div>

            <div class="sidebar__tournaments-item">
                <div class="sidebar__tournaments-thumb">
                    <img class="sidebar__tournaments-img" src="{{ site.baseurl }}/assets/img/games/safari-heat.png" alt="">
                    <span class="sidebar__tournaments-gonfalon">now</span>
                </div>
                <div class="sidebar__tournaments-title">Deposit lottery</div>
                <div class="sidebar__tournaments-meta">
                    <p>End: <span>5 d  11:42:26</span></p>
                    <p>Prize: <span>$500 000</span></p>
                </div>
                <a class="sidebar__tournaments-link" href="#">More</a>
                <a class="sidebar__tournaments-link" href="#">Leaderboard</a>
            </div>

        </div>
        <a href="#" class="sidebar__link">All promo</a>
    </section>

</aside>