@mixin btn {
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    padding: 10px 22px;
    box-sizing: border-box;
    border-radius: 100px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
    }
}

@mixin btn--primary {
    @include btn;
    background: #ca1e10;
    box-shadow: 0 0 7px #fe0000;
}

@mixin btn--ghost {
    @include btn;
    background: transparent;
    border: 1px solid rgba(#fff,.4);
}

@mixin btn--fb {
    @include btn;
    color: #ccc;
    background: #fff;
}

@mixin btn--tw {
    @include btn;
    color: #ccc;
    background: #fff;
}
