.trans-history {
    background: #fff;

    &__header {
        padding: 10px 0;
    }

    &__body {
        // display: none;
    }

    &__table {
        width: 100%;
        color: #666;

        tr {
            border-bottom: 1px solid #ccc;
            height: 60px;

            &:first-child {
                border-top: 1px solid #ccc;
            }
        }

        td {
            padding: 0 20px;
        }
    }

    &__time {
        display: block;
        text-align: left;
        color: #9b9b9b;
    }

    &__date {
        display: block;
        text-align: left;
    }

    &__bill {

    }

    &__amount {
        font-size: 16px;
        font-weight: 600;
    }

    &__currency {
        color: #9b9b9b;
        font-size: 12px;
        font-family: 'PT Serif';
        font-style: italic;
    }

    &__status {
        font-family: 'PT Serif';
        font-style: italic;

        &--success {
            color: #249e49;
        }

        &--waiting {
            color: #f1a11c;
        }

        &--canceled {
            color: #d70000;
        }

        [class^="icon-"] {
            font-size: 22px;
            position: relative;
            top: 4px;
        }
    }

    &__footer {
        padding: 10px 0;
    }

    &__open {

        [class^="icon-"] {
            transform: rotate(-180deg);
        }
    }
}
