.auth {
  clear: both;
  text-align: center;
  line-height: 50px;
  padding-right: 10px;

  @media all and(min-width: $desktopMinWidth) {
    clear: none;
    display: inline-block;
    float: right;
  }

  .btn {
    display: inline-block;
    vertical-align: middle;
    font-weight: 100;

    &:first-child {
      margin-left: 0;
    }
  }
}
