body {
    // max-width: 1280px;
    margin: 0 auto;
    // background: url(../img/bg.jpg) no-repeat top center;
    background-size: cover;
}

p {
    margin: 0 0 1em;
}

a {
    color: #999;
}

main {
    padding: 0;
}
