.btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 100px;
  padding: 0 15px;
  color: #FFF;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 4px;

  &:hover {
    cursor: pointer;
  }

  &--base {
    border: 1px solid #666666;
    font-size: 12px;
    text-transform: uppercase;

    &:hover {
      background: #666666;
    }

    &:active {
      background: #4D4D4D;
    }
  }

  &--accent {
    background: #CA1E10;
    box-shadow: 0 0 10px #FE0000;

    &:hover {
      background: #CA1E10;
      box-shadow: none;
    }

    &:active {
      background: #AF1509;
    }
  }
}