.footer {
    background: #141414;
    padding: 30px 4%;
    text-align: center;
    @include clearfix;

    &__menu {
        font-size: 0;
        margin-bottom: 20px;
    }

    &__link {
        color: rgba(#fff,.4);
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        padding: 8px 15px;
    }

    &__lang {
        float: left;
    }

    &__lang-link {
        color: rgba(#fff,1);
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        border: 1px solid rgba(#fff,.2);
        border-radius: 40px;
        padding: 10px 20px;

        [class^="icon-"] {
            font-size: 5px;
            vertical-align: middle;
            line-height: 0;
            margin-left: 8px;
        }
    }

    &__copyright {
        float: right;
        color: rgba(#fff,.4);
        font-size: 12px;

        [class^="icon-"] {
            font-size: 25px;
            vertical-align: middle;
            color: #f1f9c7;
            margin-right: 10px;
            text-shadow: 0 0 10px #fe0000, 0 0 10px #fe0000, 0 0 10px #fe0000, 0 0 20px #fe0000;
        }
    }
}
