.game-hall {
    text-align: center;
    padding: 30px 2% 84px;
    background: #1a1a1a;

    &__wrap {
        @include clearfix;
        margin: 0 -8px 35px;
    }

    &__item {
        float: left;
        overflow: hidden;
        display: table;
        width: 50%;
        padding: 0 8px;
        box-sizing: border-box;
        margin-bottom: 16px;

        &:nth-child(1) {
            width: 100%;
        }

        @include media(M) {
            width: 33.3333%;

            &:nth-child(1) {
                width: 66.6666%;
            }
        }

        @include media(L) {
            width: 33.3333%;

            &:nth-child(1) {
                width: 66.6666%;
            }

            &:nth-child(14) {
                display: none;
            }

            &:nth-child(15) {
                display: none;
            }
        }

        @include media(XL) {
            width: 25%;

            &:nth-child(1) {
                width: 50%;
            }

            &:nth-child(14) {
                display: block;
            }

            &:nth-child(15) {
                display: block;
            }
        }
    }

    &__item-wrap {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        @include ratio(100%,193,115);
    }

    &__item-img {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
        transform: translate3d(0,-50%,0);
        opacity: 1;
        transition: opacity .2s ease;

        .game-hall__item:hover & {
            opacity: .25;
        }
    }

    &__item-text {
        position: absolute;
        top: 150%;
        left: 50%;
        width: 100%;
        height: 100%;
        transition: top .2s ease;
        transform: translate3d(-50%,-50%,0);
        display: table;

        .game-hall__item:hover & {
            top: 50%;
        }
    }

    &__item-title {
        color: #fff;
        margin-bottom: 16px;
        font-weight: 500;
    }

    &__item-btn {
        @include btn;
        @include btn--primary;
    }

    &__btn {
        @include btn;
        @include btn--ghost;
    }

    &__title {
        border-top: 1px solid #333;
        padding-top: 25px;
        padding-bottom: 0;
        margin: 0 25px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;

        &:first-child {
            border-top: none;
        }

        .icon {
            font-size: 16px;
            text-shadow: 0 0 10px #fe0000, 0 0 10px #fe0000;
            color: #fe0000;
        }
    }

    // for landing

    &--landing {

        .game-hall__item {
            width: 50%;

            &:nth-child(1) {
                width: 100%;
            }

            @include media(M) {
                width: 33.3333%;

                &:nth-child(1) {
                    width: 66.6666%;
                }
            }

            @include media(L) {
                width: 25%;

                &:nth-child(1) {
                    width: 50%;
                }

                &:nth-child(14) {
                    display: none;
                }

                &:nth-child(15) {
                    display: none;
                }
            }

            @include media(XL) {
                width: 16.6666%;

                &:nth-child(1) {
                    width: 33.33333%;
                }

                &:nth-child(14) {
                    display: block;
                }

                &:nth-child(15) {
                    display: block;
                }
            }
        }
    }
}
