.game-list {
    text-align: center;
    padding: 30px 0 95px;

    &__wrap {
        @include clearfix;
        padding: 0 8px;
        margin-bottom: 35px;
    }

    &__item {
        float: left;
        overflow: hidden;
        display: table;
        width: 16.66666%;
        padding: 0 8px;
        box-sizing: border-box;
        margin-bottom: 16px;

        &:nth-child(1) {
            width: 33.33333%;
        }

        &:nth-child(10) {
            width: 33.33333%;
            float: right;
        }
    }

    &__item-wrap {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        @include ratio(100%,193,115);
    }

    &__item-img {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
        transform: translate3d(0,-50%,0);
        opacity: 1;
        transition: opacity .2s ease;

        .game-list__item:hover & {
            opacity: .25;
        }
    }

    &__item-text {
        position: absolute;
        top: 150%;
        left: 50%;
        width: 100%;
        height: 100%;
        transition: top .2s ease;
        transform: translate3d(-50%,-50%,0);
        display: table;

        .game-list__item:hover & {
            top: 50%;
        }
    }

    &__item-title {
        color: #fff;
        margin-bottom: 16px;
        font-weight: 500;
    }

    &__item-btn {
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        // min-width: 114px;
        text-align: center;
        background: #ca1e10;
        box-shadow: 0 0 7px #fe0000;
        color: #fff;
        padding: 10px 20px;
        box-sizing: border-box;
        line-height: 20px;
        border-radius: 40px;
    }

    &__btn {
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        min-width: 114px;
        text-align: center;
        background: #ca1e10;
        box-shadow: 0 0 7px #fe0000;
        color: #fff;
        padding: 10px 20px;
        box-sizing: border-box;
        line-height: 20px;
        border-radius: 40px;
    }
}
