.game-promo {
    text-align: center;
    padding: 40px 20px 50px 30px;
    background-image: linear-gradient(45deg, #470a0a 0%, #460a0a 0%, #131313 100%);
    background: #1f1f1f;

    @include media(S) {
        padding: 40px 40px 50px;
    }

    @include media(M) {
        padding: 45px 50px 65px;
    }

    &__title {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 40px;
        color: #f1f9c7;
        text-shadow: 0 0 4px #fe0000, 0 0 4px #fe0000, 0 0 10px #fe0000, 0 0 10px #fe0000;
        
        @include media(M) {
            margin-bottom: 80px;
        }

        [class^="icon-"] {
            margin-right: 10px;
            font-size: 30px;
            line-height: 0;
            vertical-align: middle;
        }
    }

    &__wrap {
        font-size: 0;
        max-width: 100%;
        margin: 0 auto;

        @include media(S) {
            max-width: 75%;
        }

        @include media(M) {
            max-width: 900px;
        }
    }

    &__item {
        display: inline-block;
        font-size: 14px;
        text-align: left;
        padding-left: 95px;
        box-sizing: border-box;
        margin: 0 0 40px;
        position: relative;
        // font-weight: 400;

        // @include media(S) {
        //     margin: 20px 0 80px;   
        // }

        @include media(M) {
            width: 50%;
            padding-left: 135px;
            margin: 20px 0 80px;
        }

        [class^="icon-"] {
            position: absolute;
            left: 0;
            top: 50%;
            float: left;
            font-size: 65px;
            color: #fe0000;
            text-shadow: 0 0 20px #fe0000, 0 0 20px #fe0000;
            transform: translate3d(0,-50%,0);

            @include media(M) {
                font-size: 90px;  
            }
        }
    }

    &__item-title {
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 15px;

        @include media(M) {
            margin-bottom: 20px;
        }
    }

    &__item-description {
        color: #808080;
        max-width: 180px;
        min-height: 36px;

        @include media(S) {
            max-width: 100%;
        }

        @include media(M) {
            max-width: 180px;
        }
    }

    &__btn {
        @include btn;
        @include btn--primary;
        min-width: 114px;
        border-radius: 40px;
    }
}
