.hero {
    padding: 56px+70px 0 0;
    text-align: center;
    background: url(../img/bg.jpg) no-repeat top center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__title {
        text-transform: uppercase;
        color: #f1f9c7;
        text-shadow: 0 0 4px #fe0000, 0 0 4px #fe0000, 0 0 10px #fe0000, 0 0 10px #fe0000;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 40px;
    }

    &__wrapper {
        @include clearfix;
        position: relative;
    }

    &__jackpot-container {
        margin: 0 -10%;
        @include ratio(120%,747,401);
        background: url(../img/hero/hero-tron.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 180;

        @include media(S) {
            margin: 0 auto;
            @include ratio(587px,747,401);
        }
    }

    &__jackpot {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
    }

    &__jackpot-title {
        font-size: 12px;
        text-transform: uppercase;
        color: #f1f9c7;
        text-shadow: 0 0 4px #fe0000, 0 0 4px #fe0000, 0 0 10px #fe0000, 0 0 10px #fe0000;
        position: absolute;
        top: -1.25em;
        left: 0;
        width: 100%;
        letter-spacing: 2px;
        font-weight: 500;

        @include media(S) {
            font-size: 20px;
        }
    }

    &__jackpot-amount {
        color: #a30d01;
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        text-shadow: 0 0 14px rgba(#000,.5);
        white-space: nowrap;
        padding-bottom: 10px;

        @include media(S) {
            font-size: 68px;
        }
    }

    &__btn-container {
        background: #000;
        display: inline-block;
        margin: -20px auto 0;
        padding: 9px;
        border-radius: 200px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50%,0,0);
    }

    &__btn {
        @include btn;
        @include btn--hero;
    }

    &__info-container {
        @include clearfix;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 80px;
        box-sizing: border-box;
        z-index: 150;
    }

    &__info {

        &:nth-child(odd) {
            text-align: left;
            float: right;
        }
        &:nth-child(even) {
            float: left;
            text-align: right;
        }
    }

    &__info-name {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.52px;
        color: #f1f9c7;
        text-shadow: 0 0 4px #fe0000, 0 0 4px #fe0000, 0 0 10px #fe0000, 0 0 10px #fe0000;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__info-amount {
        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.07px;
        color: #f1f9c7;
        text-shadow: 0 0 4px #fe0000, 0 0 4px #fe0000, 0 0 10px #fe0000, 0 0 10px #fe0000;
        position: relative;
    }

    &__info-icon {
        text-shadow: 0 0 5px #fe0000, 0 0 10px #fe0000, 0 0 10px #fe0000;
        position: absolute;
        top: 50%;
        font-size: 40px;
        margin-top: -20px;

        .hero__info:nth-child(odd) & {
            right: 100%;
            padding-right: 20px;
        }
        .hero__info:nth-child(even) & {
            left: 100%;
            padding-left: 20px;
        }
    }
}
