.nav-lang {
    display: inline-block;
    position: relative;

    &__dropdwn {
        line-height: 30px;
        text-transform: uppercase;
    }

    &__list {
        background-color: #181818;
        display: none;
        padding: 10px 0;
        position: absolute;
        left: -15px;
        top: 50px;
        width: 160px;
    }

    .show-menu {
        display: block;
    }

    &__item {
        display: block;
        font-size: 14px;
        text-align: left;
        text-decoration: none;
        color: #fff;
        transition: background-color .2s ease;
        @include clearfix;

        &:nth-child(odd) {
            background-color: #333;
        }

        &:hover {
            background-color: #ba0000;
        }
    }

    &__img {
        display: block;
        float: left;
        padding: 5px 15px;
    }

    &__name {
        line-height: 40px;
    }

    &__selected-lang {

        .nav-lang--mainmenu & {
            display: none;
        }
    }

    &--footer {
        border: 1px solid;
        border-radius: 20px;
        float: left;
        padding: 2px;
        width: 140px;
        height: 30px;
        text-align: left;

        .nav-lang__selected-lang {
            float: right;
            padding-right: 15px;
            color: #fff;
        }

        [class^="icon-"] {
            display: inline-block;
            height: 7px;
            padding-left: 5px;
            font-size: 5px;
            vertical-align: middle;
        }
    }
}
