.promo-mili {
    text-align: center;
    padding: 50px 0;
    overflow: hidden;

    &__caption {
        font-size: 24px;
        margin-bottom: 90px;
    }

    &__list {
        @include clearfix;
    }

    &__item {
        float: left;
        width: 390px;
        height: 530px;
        // margin-bottom: 20px;
        padding-top: 40px;

        &--primary {
            padding-top: 0;
            // top: -50px;
        }
    }

    &__ribbon {
        color: #fff;
        display: inline-block;
        margin: 0 auto 16px;
        min-width: 160px;
        position: relative;

        .promo-mili__item--primary & {
            // top: -50px;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            border: 20px solid #004989;
            z-index: 10;
            bottom: -12px;

            .promo-mili__item--primary & {
                border-width: 27px;
                border-color: #cc283a;
            }
        }

        &:before {
            left: -35px;
            border-right-width: 45px !important;
            border-left-color: transparent !important;
            border-left-width: 12px !important;
            box-shadow: 2px 1px 1px rgba(#000,.3);

            .promo-mili__item--primary & {
                border-right-width: 65px;
            }
        }

        &:after {
            right: -35px;
            border-left-width: 45px !important;
            border-right-color: transparent !important;
            border-right-width: 12px !important;
            box-shadow: -2px 1px 1px rgba(#000,.3);
        }

        &-shadow {

            &:before,
            &:after {
                content: '';
                border-color: transparent;
                border-top-color: #003764;
                position: absolute;
                display: block;
                border-style: solid;
                bottom: -12px;
                z-index: 15;

                .promo-mili__item--primary & {
                    border-top-color: #960715;
                }
            }

            &:before {
                left: 0;
                border-width: 12px 0 0 22px;
            }

            &:after {
                right: 0;
                border-width: 12px 22px 0 0;
            }
        }
    }

    &__city {
        font-size: 22px;
        line-height: 30px;
        text-transform: uppercase;
        position: relative;
        z-index: 20;
        // background: #004083;
        // background: linear-gradient(45deg, #004185 0%,#0082de 35%,#004184 100%);
        background: linear-gradient(to right, #004185 0%,#0082de 39%,#004184 100%);
        padding: 5px 14px;
        text-shadow: 1px 1px 1px rgba(#fff,.4);
        position: relative;
        box-shadow: 2px 1px 1px rgba(#000,.3);

        .promo-mili__item--primary & {
            font-size: 24px;
            padding: 12px 14px;
            background: linear-gradient(to right, #b30d1f 0%,#cc283a 79%,#b40e20 100%);
        }

        &:before,
        &:after {
            content: '';
            border-top: 2px dashed rgba(#fff,.05);
            position: absolute;
            z-index: 25;
            left: 0;
            right: 0;
        }

        &:before {
            top: 4px;
        }

        &:after {
            bottom: 4px;
        }
    }

    &__media {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background: url(../img/promo-mili/shadow.png);
            width: 567px;
            height: 275px;
            bottom: -60px;
            left: 20px;
            z-index: 30;
        }
    }

    &__img {
        display: block;
        margin: 0 auto 10px;
        max-width: 100%;
        height: auto;
        position: relative;
        z-index: 35;

        .promo-mili__item--primary & {
            margin-top: -50px;
            max-width: inherit;
            position: relative;
            left: 50%;
            transform: translate3d(-50%,0,0);
        }
    }
}
