// Body
$bodyBg: #ccc url(../img/bg/coriolan-ui-logo.svg) top center;
$bodyFont: 400 14px/1.3 "Open Sans", Helvetica, Arial, sans-serif;

// Grid
$gridIndent: 8px;

// Global Vendor
@import '../node_modules/coriolan-ui/coriolan-ui';
@import 'vendor/remodal/remodal-index';

// Project Vendor
@import 'vendor/icomoon';

// UI
html,
body {
    height: 100%;
}
body {
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}





