<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} | China Front</title>
    <meta name="description" content="China Front">
    <meta name="keywords" content="China Front">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500|Montserrat&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicons/favicon-32.png">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/favicons/favicon-144.png">
</head>
<body>

    <main>
        {{ content }}
    </main>

    <script src="{{ site.baseurl }}/assets/js/vendor/jquery-1.11.3.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor/slick.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor/jquery.easytabs.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>

    <!-- not for prod -->
    <div style="
        position: fixed;
        top: 0;
        right: 0;
        padding: 10px;
        background: #666;
        font-size: 10px;
        z-index: 200;
        border-radius: 0 0 0 5px;
        display: none;
    ">
        <div>
            <span style="color: #999;">authorized:</span>
            {% if site.authorized == true %}
                <span style="color: #fff;">true</span>
            {% else %}
                <span style="color: #fff;">false</span>
            {% endif %}
        </div>
    </div>
    <style>
        a{color:#999;outline:none;}
        a.a.selected{color:#fff;}
    </style>
    <div style="
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px;
        background: #666;
        font-size: 10px;
        z-index: 200;
        border-radius: 0 0 5px 0;
        display: none;
    ">
        <div><a href="{{ site.baseurl }}/" class="a {% if page.url == '/' %}selected{% endif %}">home</a></div>
        {% assign pages = site.posts | where: "type", "page" | sort: 'title' %}
        {% for i in pages %}
        <div><a href="{{ site.baseurl }}/{{ i.permalink }}" class="a {% if page.url contains i.id %}selected{% endif %}">{{ i.id }}</a></div>
        {% endfor %}
    </div>
    <!-- not for prod end -->
</body>
</html>
