<div class="footer">
    <nav class="footer__menu">
        <a class="footer__link" href="{{ site.baseurl }}/">О казино</a>
        <a class="footer__link" href="{{ site.baseurl }}/">Поддержка</a>
        <a class="footer__link" href="{{ site.baseurl }}/">Правила</a>
        <a class="footer__link" href="{{ site.baseurl }}/">Оплата</a>
        <a class="footer__link" href="{{ site.baseurl }}/">Выплаты</a>
        <a class="footer__link" href="{{ site.baseurl }}/">Честная игра</a>
        <a class="footer__link" href="{{ site.baseurl }}/">Турниры</a>
        <a class="footer__link" href="{{ site.baseurl }}/">Рейтинг игроков</a>
        <a class="footer__link" href="{{ site.baseurl }}/">Правовая информация</a>
    </nav>

    <div class="footer__lang">
        <a class="footer__lang-link" href="#">
            <!-- <img src="{{ site.baseurl }}/assets/img/header-nav/flag-sample.png"> -->
            English
            <span class="icon-arrow-down"></span>
        </a>
    </div>

    <div class="footer__copyright"><span class="icon-money-pack"></span> © 2015 Pepper Online Casino</div>
</div>

