<div class="game-list__item">
    <div class="game-list__item-wrap">
        {% for cover in site.static_files %}
            {% if cover.path contains i.id and cover.path contains 'games' %}
                <img class="game-list__item-img" src="{{ site.baseurl }}{{ cover.path }}" alt="{{ i.title }} Cover">
            {% endif %}
        {% endfor %}
        <div class="game-list__item-text">
            <div class="game-list__item-title">{{ i.title }}</div>
            <a href="{{ site.baseurl }}{{ i.url }}" class="game-list__item-btn">Play</a>
        </div>
    </div>
</div>
