<div class="game-promo">

    <div class="game-promo__title"><span class="icon-flag"></span> Игры на любой вкус</div>

    <div class="game-promo__wrap">
        <div class="game-promo__item">
            <span class="icon-cards"></span>
            <div class="game-promo__item-title">Cards</div>
            <div class="game-promo__item-description">Наверное лучшая смесь веселья и азарта</div>
        </div>

        <div class="game-promo__item">
            <span class="icon-pockers"></span>
            <div class="game-promo__item-title">Pokers</div>
            <div class="game-promo__item-description">Наверное лучшая смесь веселья и азарта</div>
        </div>

        <div class="game-promo__item">
            <span class="icon-slots"></span>
            <div class="game-promo__item-title">Slots</div>
            <div class="game-promo__item-description">Наверное лучшая смесь веселья и азарта</div>
        </div>

        <div class="game-promo__item">
            <span class="icon-roulette"></span>
            <div class="game-promo__item-title">Roulette</div>
            <div class="game-promo__item-description">Наверное лучшая смесь веселья и азарта</div>
        </div>
    </div>

    <a href="#" class="game-promo__btn">Play</a>

</div>
