<div class="winners">

    <div class="winners__title">Winners</div>

    <div class="winners__slick js-winners-slick">
        {% assign winners = site.data.winners %}
        {% for i in winners %}
            <div>
                {% for cover in site.static_files %}
                    {% if cover.path contains i.user-id and cover.path contains 'users' %}
                        <img class="winners__user-pic" data-lazy="{{ site.baseurl }}{{ cover.path }}" alt="{{ i.user-name }} Avatar">
                    {% endif %}
                {% endfor %}
                <div class="winners__user-name">
                    {{ i.user-name }}
                    <span class="winners__won">won $ {{ i.won }}</span>
                </div>
                <a class="winners__game-link" href="{{ i.game-url }}">{{ i.game-title }}</a>
            </div>
        {% endfor %}
    </div>

</div>
