<div class="choose-currency">
    <div class="choose-currency__title">Choose Bonus</div>

    <div class="choose-currency__list">
        <div class="choose-currency__item">
            <label class="choose-currency__label" for="cny1">
                <input class="choose-currency__radio" type="radio" name="currency1" id="cny1" checked>
                <span class="choose-currency__radio-unchecked icon-radio-checked"></span>
                <span class="choose-currency__radio-checked icon-radio-checked"></span>
                <div class="choose-currency__item-name">cny</div>
            </label>
        </div>

        <div class="choose-currency__item">
            <label class="choose-currency__label" for="usd1">
                <input class="choose-currency__radio" type="radio" name="currency1" id="usd1">
                <span class="choose-currency__radio-unchecked icon-radio-checked"></span>
                <span class="choose-currency__radio-checked icon-radio-checked"></span>
                <div class="choose-currency__item-name">usd</div>
            </label>
        </div>

        <div class="choose-currency__item">
            <label class="choose-currency__label" for="rub1">
                <input class="choose-currency__radio" type="radio" name="currency1" id="rub1">
                <span class="choose-currency__radio-unchecked icon-radio-checked"></span>
                <span class="choose-currency__radio-checked icon-radio-checked"></span>
                <div class="choose-currency__item-name">rub</div>
            </label>
        </div>

        <div class="choose-currency__item">
            <label class="choose-currency__label" for="gbp1">
                <input class="choose-currency__radio" type="radio" name="currency1" id="gbp1">
                <span class="choose-currency__radio-unchecked icon-radio-checked"></span>
                <span class="choose-currency__radio-checked icon-radio-checked"></span>
                <div class="choose-currency__item-name">gbp</div>
            </label>
        </div>
    </div>
</div>

