<div class="choose-gift">
    <div class="choose-gift__title">Choose Bonus</div>

    <div class="choose-gift__list">
        <div class="choose-gift__item">
            <label class="choose-gift__label" for="gift1">
                <input class="choose-gift__radio" type="radio" name="gift" id="gift1">
                <div class="choose-gift__item-name">$ 1 500 bonus</div>
            </label>
        </div>

        <div class="choose-gift__item">
            <label class="choose-gift__label" for="gift2">
                <input class="choose-gift__radio" type="radio" name="gift" id="gift2">
                <div class="choose-gift__item-name">15 gift spins</div>
            </label>
        </div>

        <div class="choose-gift__item">
            <label class="choose-gift__label" for="gift2">
                <input class="choose-gift__radio" type="radio" name="gift" id="gift2">
                <div class="choose-gift__item-name">200 compoints</div>
            </label>
        </div>
    </div>

    <a href="javascript:void(0)" class="choose-gift__link">Choose Bonus Later</a>
</div>

