<div class="signin">
    <div class="signin__title">Email or Phone Sign Up</div>

    <div class="signin__row">
        <input class="signin__text" type="text" placeholder="Email or Phone">
    </div>

    <div class="signin__row">
        <input class="signin__password" type="password" placeholder="Password">
        <a class="signin__input-link" href="javascript:void(0)">Forgot?</a>
    </div>

    <div class="signin__remember">
        <label class="signin__label" for="remember">
            <input class="signin__checkbox" type="checkbox" value="remember" id="remember" checked>
            <span class="signin__check-bar icon-check-bar"></span>
            <span class="signin__checked icon-checked"></span>
            Remember Me
        </label>
    </div>

    <a href="javascript:void(0)" class="signin__btn-primary">Sign In</a>
</div>

