<div data-remodal-id="SignUpSocialConfirm" class="popup js-popup">
    <button data-remodal-action="close" class="popup__close"><span class="icon-close"></span></button>

    <img class="popup__logo" src="{{ site.baseurl }}/assets/img/logo.png">
    <div class="popup__title">Sign Up</div>

    <div class="signin">
        <img class="signin__userpic" src="{{ site.baseurl }}/assets/img/users/user3.jpg">
        <div class="signin__username">Hi, Kristofer</div>

        <div class="signin__title">Confirm Personal Information</div>

        <div class="signin__row">
            <input class="signin__text" type="text" placeholder="Username">
        </div>

        <div class="signin__row">
            <input class="signin__text" type="text" placeholder="Email or Phone">
        </div>

        <div class="signin__row">
            <input class="signin__password" type="password" placeholder="Password">
        </div>

        <div class="signin__row">
            <input class="signin__password" type="password" placeholder="Retype Password">
        </div>

        <div class="choose-currency">
            <div class="choose-currency__title">Choose Currency</div>

            <div class="choose-currency__list">
                <div class="choose-currency__item">
                    <label class="choose-currency__label" for="cny2">
                        <input class="choose-currency__radio" type="radio" name="currency" id="cny2">
                        <span class="choose-currency__radio-unchecked icon-radio-unchecked"></span>
                        <span class="choose-currency__radio-checked icon-radio-checked"></span>
                        <div class="choose-currency__item-name">cny</div>
                    </label>
                </div>

                <div class="choose-currency__item">
                    <label class="choose-currency__label" for="usd2">
                        <input class="choose-currency__radio" type="radio" name="currency" id="usd2">
                        <span class="choose-currency__radio-unchecked icon-radio-unchecked"></span>
                        <span class="choose-currency__radio-checked icon-radio-checked"></span>
                        <div class="choose-currency__item-name">usd</div>
                    </label>
                </div>

                <div class="choose-currency__item">
                    <label class="choose-currency__label" for="rub2">
                        <input class="choose-currency__radio" type="radio" name="currency" id="rub2">
                        <span class="choose-currency__radio-unchecked icon-radio-unchecked"></span>
                        <span class="choose-currency__radio-checked icon-radio-checked"></span>
                        <div class="choose-currency__item-name">rub</div>
                    </label>
                </div>

                <div class="choose-currency__item">
                    <label class="choose-currency__label" for="gbp2">
                        <input class="choose-currency__radio" type="radio" name="currency" id="gbp2">
                        <span class="choose-currency__radio-unchecked icon-radio-unchecked"></span>
                        <span class="choose-currency__radio-checked icon-radio-checked"></span>
                        <div class="choose-currency__item-name">gbp</div>
                    </label>
                </div>
            </div>
        </div>

        <a href="javascript:void(0)" class="signin__btn-primary">Sign UP</a>
    </div>
</div>
