.choose-currency {
    margin-bottom: 20px;

    &__title {
        color: #808080;
        font-size: 14px;
        margin-bottom: 15px;
    }

    &__list {
        font-size: 0;
    }

    &__item {
        font-size: 14px;
        display: inline-block;
        margin: 0 12px;
    }

    &__label {
        cursor: pointer;
    }

    &__radio {
        display: none;
    }

    &__radio-checked {
        font-size: 26px;
        color: #333;
        display: block;

        .choose-currency__radio:checked ~ & {
            display: none;
        }
    }

    &__radio-unchecked {
        font-size: 26px;
        color: #fff;
        display: none;

        .choose-currency__radio:checked ~ & {
            display: block;
        }
    }

    &__item-name {
        color: #808080;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 4px;

        .choose-currency__radio:checked ~ & {
            color: #fff;
        }
    }
}
