.choose-gift {
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;

    &__title {
        color: #808080;
        font-size: 14px;
        margin-bottom: 15px;
    }

    &__list {
        font-size: 0;
        margin-bottom: 20px;
    }

    &__item {
        font-size: 14px;
        display: inline-block;
        margin: 0 12px;
    }

    &__label {
    }

    &__radio {
        display: none;
    }

    &__item-name {
        color: #808080;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 4px;

        .choose-currency__radio:checked ~ & {
            color: #fff;
        }
    }

    &__link {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
    }
}
