.popup {
    position: relative;
    background: #000;
    max-width: 600px;
    padding: 20px 0;

    &__close {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 30px;
        line-height: 1;
        background: transparent;
        border: none;
        color: #999;
        padding: 20px;
        outline: none;
    }

    &__logo {
        display: inline-block;
        margin: 0 auto 20px;
        width: 100%;
        max-width: 184px;
        height: auto;
    }

    &__title {
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 0 0 4px #fe0000, 0 0 4px #fe0000, 0 0 10px #fe0000, 0 0 10px #fe0000;
        color: #f1f9c7;
        font-size: 16px;
        margin-bottom: 35px;
    }

    &__btn-signin {
        @include btn;
        @include btn--primary;
        min-width: 135px;
    }
}
