.popup-question {
    margin-bottom: 20px;

    &__wrapper {
        margin-bottom: 25px;
    }

    &__text {
        color: #808080;
        display: inline-block;
        position: relative;
        padding: 0 15px;

        &:before,
        &:after {
            position: absolute;
            content: '';
            top: 50%;
            width: 46px;
            height: 1px;
            background: #333;
        }

        &:before {
            left: 100%;
        }

        &:after {
            right: 100%;
        }
    }

    &__btn {
        @include btn--ghost;
        min-width: 135px;

        [class^="icon-"] {
            font-size: 18px;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}
