.social-signin {
    margin: 0 auto 10px;

    &__title {
        color: #808080;
        font-size: 14px;
        margin-bottom: 25px;
    }

    &__wrapper {
        display: inline-block;
        padding-bottom: 15px;
        margin: 0 auto;
        border-bottom: 1px solid #333;
        font-size: 0;
    }

    &__btn-fb {
        @include btn;
        @include btn--fb;
        min-width: 120px;
        margin: 0 5px 10px;
    }

    &__btn-tw {
        @include btn;
        @include btn--tw;
        min-width: 120px;
        margin: 0 5px 10px;
    }
}
